In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

# Como crear una sesion de spark para computo distribuido

In [5]:
spark = SparkSession.builder.appName('firstSession')\
    .config('spark.master', 'local[4]')\
    .config('spark.executor.memory', '1g')\
    .config("spark.sql.shuffle.partitions", 1)\
    .config('spark.driver.memory','1g')\
    .getOrCreate()

24/05/01 12:35:25 WARN Utils: Your hostname, Mac-Jaime.local resolves to a loopback address: 127.0.0.1; using 192.168.0.205 instead (on interface en0)
24/05/01 12:35:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/01 12:35:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

# Cómo generar un Dataframe
## A partir de una lista

In [50]:
columnas = ["id", "nombre", "edad"]
lista = [(1, "Aranza", 21), (2, "Andres", 80), (3, "Jaime", 23), (4, "Uumami", 20)]
lista

[(1, 'Aranza', 21), (2, 'Andres', 80), (3, 'Jaime', 23), (4, 'Uumami', 20)]

In [53]:
df_l = spark.createDataFrame(lista, schema=columnas)
df_l.show()

+---+------+----+
| id|nombre|edad|
+---+------+----+
|  1|Aranza|  21|
|  2|Andres|  80|
|  3| Jaime|  23|
|  4|Uumami|  20|
+---+------+----+

## A partir de un parquet

In [7]:
df_p = spark.read.parquet('ejemplo.parquet')
df_p.show()

24/05/01 12:35:43 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.09|  1282.436|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.12|   1290.82|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.03|  1412.007|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.06|  1488.055|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.09|  1497.678|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.12|  1570.507|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.03|  1393.749|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.06|  1517.143|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.09|  1381.514|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.12|  1370.985|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.03|  1073.017|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.06|  1131.445|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.09|  1440.101|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.12|  1489.979|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA3CA|2016.06|  1189.735|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Fishing, Aquacult...|Current prices|    Unadjusted|          NULL|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

### Podemos convertir a un DataFrame de pandas

In [9]:
df_pandas = df_p.toPandas()

In [10]:
df_pandas.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
1,BDCQ.SF1AA2CA,2016.09,1070.874,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
2,BDCQ.SF1AA2CA,2016.12,1054.408,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
3,BDCQ.SF1AA2CA,2017.03,1010.665,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
4,BDCQ.SF1AA2CA,2017.06,1233.7,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None

## a partir de un csv

In [11]:
df_c = spark.read.csv('Produccion_Pesquera_2020.csv', header=True, inferSchema=True)
df_c.show()

+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL| ENTIDAD FEDERATIVA|      NOMBRE OFICINA|MES DE CORTE|     ORIGEN|   NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|       JUNIO|    CAPTURA|ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                          73|                 173|     25,744|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                         356|                 356|     22,502|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|            ENSENADA|     OCTUBRE|ACUACULTURA|ABULON AMARILLO|                       1,240|               1,240|    347,663|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|            ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                         118|                 280|     47,359|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|            ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                           8|                   8|      3,184|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       MARZO|    CAPTURA|ABULON AMARILLO|                       2,855|               2,855|  1,520,625|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       ABRIL|    CAPTURA|ABULON AMARILLO|                       3,387|               3,387|  1,803,725|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|        MAYO|    CAPTURA|ABULON AMARILLO|                       2,282|               2,282|  1,215,430|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       4,166|               4,166|  2,218,824|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|VILLA DE JESUS MARIA|       MARZO|    CAPTURA|ABULON AMARILLO|                          34|                  80|      3,661|          ABULON|               2|             210|
|            2020|    BAJA CALIFORNIA|VILLA DE JESUS MARIA|       MARZO|    CAPTURA|ABULON AMARILLO|                           2|                   2|        246|          ABULON|               2|             210|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                           0|                   0|     20,494|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                         572|               1,361|    544,274|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                         172|                 172|    102,560|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                           0|                   0|     53,292|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       1,586|               3,774|  1,509,761|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                         476|                 476|    284,492|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JULIO|    CAPTURA|ABULON AMARILLO|                           0|                   0|     46,545|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JULIO|    CAPTURA|ABULON AMARILLO|                       1,400|               3,332|  1,332,672|          ABULON|               3|             301|
+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
only showing top 20 rows

In [57]:
df_c.printSchema()

root
 |-- EJERCICIO FISCAL: integer (nullable = true)
 |-- ENTIDAD FEDERATIVA: string (nullable = true)
 |-- NOMBRE OFICINA: string (nullable = true)
 |-- MES DE CORTE: string (nullable = true)
 |-- ORIGEN: string (nullable = true)
 |-- NOMBRE COMUN: string (nullable = true)
 |-- PESO DESEMBARCADO KILOGRAMOS: string (nullable = true)
 |-- PESO VIVO KILOGRAMOS: string (nullable = true)
 |-- VALOR PESOS: string (nullable = true)
 |-- NOMBRE PRINCIPAL: string (nullable = true)
 |-- CLAVE DE ENTIDAD: integer (nullable = true)
 |-- CLAVE DE OFICINA: integer (nullable = true)

In [59]:
type(df_c.printSchema())

root
 |-- EJERCICIO FISCAL: integer (nullable = true)
 |-- ENTIDAD FEDERATIVA: string (nullable = true)
 |-- NOMBRE OFICINA: string (nullable = true)
 |-- MES DE CORTE: string (nullable = true)
 |-- ORIGEN: string (nullable = true)
 |-- NOMBRE COMUN: string (nullable = true)
 |-- PESO DESEMBARCADO KILOGRAMOS: string (nullable = true)
 |-- PESO VIVO KILOGRAMOS: string (nullable = true)
 |-- VALOR PESOS: string (nullable = true)
 |-- NOMBRE PRINCIPAL: string (nullable = true)
 |-- CLAVE DE ENTIDAD: integer (nullable = true)
 |-- CLAVE DE OFICINA: integer (nullable = true)

<class 'NoneType'>

In [54]:
df_c.dropna()

DataFrame[EJERCICIO FISCAL: int, ENTIDAD FEDERATIVA: string, NOMBRE OFICINA: string, MES DE CORTE: string, ORIGEN: string, NOMBRE COMUN: string, PESO DESEMBARCADO KILOGRAMOS: string, PESO VIVO KILOGRAMOS: string, VALOR PESOS: string, NOMBRE PRINCIPAL: string, CLAVE DE ENTIDAD: int, CLAVE DE OFICINA: int]

In [55]:
df_c.count()

63236

In [13]:
df_c.describe().show()

24/05/01 12:36:03 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------------------+------------------+--------------+------------+-----------+------------+----------------------------+--------------------+-----------------+----------------+------------------+------------------+
|summary|    EJERCICIO FISCAL|ENTIDAD FEDERATIVA|NOMBRE OFICINA|MES DE CORTE|     ORIGEN|NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|      VALOR PESOS|NOMBRE PRINCIPAL|  CLAVE DE ENTIDAD|  CLAVE DE OFICINA|
+-------+--------------------+------------------+--------------+------------+-----------+------------+----------------------------+--------------------+-----------------+----------------+------------------+------------------+
|  count|               63236|             63236|         63236|       63236|      63236|       63236|                       63236|               63236|            63236|           63236|             63236|             63236|
|   mean|              2020.0|              NULL|          NULL|        NULL|       NULL|        NULL|          302.34543889296305|  307.37846485357016|476.4068550497122|            NULL|17.805727750015812|1785.8420836232526|
| stddev|1.006647691400854...|              NULL|          NULL|        NULL|       NULL|        NULL|          270.81621624363447|   271.9943221557184|290.4068594755689|            NULL|10.767052148191343|1077.0152332497275|
|    min|                2020|    AGUASCALIENTES|    ACAPETAHUA|       ABRIL|ACUACULTURA|     ABADEJO|                           0|                   0|                0|          ABULON|                 1|               101|
|    max|                2020|         ZACATECAS|     ZITACUARO|  SEPTIEMBRE|    CAPTURA|       ZORRO|                         999|                 999|          999,392|          TRUCHA|                32|              3201|
+-------+--------------------+------------------+--------------+------------+-----------+------------+----------------------------+--------------------+-----------------+----------------+------------------+------------------+

In [56]:
df_c.describe(['PESO DESEMBARCADO KILOGRAMOS', 'PESO VIVO KILOGRAMOS']).show()

+-------+----------------------------+--------------------+
|summary|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|
+-------+----------------------------+--------------------+
|  count|                       63236|               63236|
|   mean|          302.34543889296305|  307.37846485357016|
| stddev|          270.81621624363447|   271.9943221557184|
|    min|                           0|                   0|
|    max|                         999|                 999|
+-------+----------------------------+--------------------+

In [62]:
cols = [ 'ENTIDAD FEDERATIVA', 'VALOR PESOS']
df_cols =df_c.group_by(df_c.select(*cols))
df_cols.show()

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [17]:
df_c.select('PESO DESEMBARCADO KILOGRAMOS').show()

+----------------------------+
|PESO DESEMBARCADO KILOGRAMOS|
+----------------------------+
|                         501|
|                          73|
|                         356|
|                       1,240|
|                         118|
|                           8|
|                       2,855|
|                       3,387|
|                       2,282|
|                       4,166|
|                          34|
|                           2|
|                           0|
|                         572|
|                         172|
|                           0|
|                       1,586|
|                         476|
|                           0|
|                       1,400|
+----------------------------+
only showing top 20 rows

+----------------------------+
|PESO DESEMBARCADO KILOGRAMOS|
+----------------------------+
|                         501|
|                          73|
|                         356|
|                       1,240|
|                         118|
|                           8|
|                       2,855|
|                       3,387|
|                       2,282|
|                       4,166|
|                          34|
|                           2|
|                           0|
|                         572|
|                         172|
|                       1,586|
|                         476|
|                       1,400|
|                         420|
|                         275|
+----------------------------+
only showing top 20 rows

In [23]:
df_filter = df_c.filter(df_c['PESO DESEMBARCADO KILOGRAMOS'] == 501)
df_filter.show()

+----------------+-------------------+---------------+------------+-------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL| ENTIDAD FEDERATIVA| NOMBRE OFICINA|MES DE CORTE| ORIGEN|   NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+-------------------+---------------+------------+-------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|    BAJA CALIFORNIA|     EL ROSARIO|       JUNIO|CAPTURA|ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|             SONORA|        GUAYMAS|     FEBRERO|CAPTURA|          CHANO|                         501|                 501|      6,314|       BERRUGATA|              26|            2604|
|            2020|         TAMAULIPAS|         ALDAMA|     OCTUBRE|CAPTURA|         BONITO|                         501|                 501|     13,475|          BONITO|              28|            2801|
|            2020|         TAMAULIPAS|CIUDAD VICTORIA|       JUNIO|CAPTURA|       MEDREGAL|                         501|                 501|     13,103|      ESMEDREGAL|              28|            2803|
|            2020|    BAJA CALIFORNIA|     SAN FELIPE|       MARZO|CAPTURA|    LENGUADO SE|                         501|                 627|      5,393|        LENGUADO|               2|             207|
|            2020|            YUCATAN|       PROGRESO|      AGOSTO|CAPTURA|     MOJARRA SE|                         501|                 551|     28,494|         MOJARRA|              31|            3105|
|            2020|         TAMAULIPAS|         ALDAMA|       JUNIO|CAPTURA|     TILAPIA SE|                         501|                 501|     14,852|         MOJARRA|              28|            2801|
|            2020|         TAMAULIPAS|        TAMPICO|   NOVIEMBRE|CAPTURA|        GUABINA|                         501|                 501|     15,621|           OTRAS|              28|            2808|
|            2020|BAJA CALIFORNIA SUR| BAHIA ASUNCION|   NOVIEMBRE|CAPTURA|    PEZ CORNETA|                         501|                 501|      9,299|         TIBURON|               3|             313|
+----------------+-------------------+---------------+------------+-------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+

In [32]:
df_c.take(10000)[-1]

Row(EJERCICIO FISCAL=2020, ENTIDAD FEDERATIVA='GUERRERO', NOMBRE OFICINA='ACAPULCO', MES DE CORTE='JULIO', ORIGEN='CAPTURA', NOMBRE COMUN='CARACOL SE', PESO DESEMBARCADO KILOGRAMOS='389', PESO VIVO KILOGRAMOS='389', VALOR PESOS='28,546', NOMBRE PRINCIPAL='CARACOL', CLAVE DE ENTIDAD=12, CLAVE DE OFICINA=1201)

In [31]:
type(df_c.take(10))

list

In [33]:
cambio = [2020, 'BAJA CALIFORNIA', 'SAN FELIPE', 'JUNIO', 'CAPTURA', 'ATUN', 500, 500, 100000, 'MOJARRA', 2, 202]

In [34]:
df_c.take(10)[-1] = cambio

In [36]:
df_c.show()

+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL| ENTIDAD FEDERATIVA|      NOMBRE OFICINA|MES DE CORTE|     ORIGEN|   NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|       JUNIO|    CAPTURA|ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                          73|                 173|     25,744|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                         356|                 356|     22,502|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|            ENSENADA|     OCTUBRE|ACUACULTURA|ABULON AMARILLO|                       1,240|               1,240|    347,663|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|            ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                         118|                 280|     47,359|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|            ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                           8|                   8|      3,184|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       MARZO|    CAPTURA|ABULON AMARILLO|                       2,855|               2,855|  1,520,625|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       ABRIL|    CAPTURA|ABULON AMARILLO|                       3,387|               3,387|  1,803,725|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|        MAYO|    CAPTURA|ABULON AMARILLO|                       2,282|               2,282|  1,215,430|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       4,166|               4,166|  2,218,824|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|VILLA DE JESUS MARIA|       MARZO|    CAPTURA|ABULON AMARILLO|                          34|                  80|      3,661|          ABULON|               2|             210|
|            2020|    BAJA CALIFORNIA|VILLA DE JESUS MARIA|       MARZO|    CAPTURA|ABULON AMARILLO|                           2|                   2|        246|          ABULON|               2|             210|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                           0|                   0|     20,494|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                         572|               1,361|    544,274|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                         172|                 172|    102,560|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                           0|                   0|     53,292|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       1,586|               3,774|  1,509,761|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                         476|                 476|    284,492|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JULIO|    CAPTURA|ABULON AMARILLO|                           0|                   0|     46,545|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JULIO|    CAPTURA|ABULON AMARILLO|                       1,400|               3,332|  1,332,672|          ABULON|               3|             301|
+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
only showing top 20 rows

In [44]:
df_c.count()

83171

In [45]:
df_c = df_c.dropna()

In [46]:
df_c.count()

63236

In [48]:
df_c.tail(1)

[Row(EJERCICIO FISCAL=2020, ENTIDAD FEDERATIVA='VERACRUZ', NOMBRE OFICINA='VERACRUZ', MES DE CORTE='MARZO', ORIGEN='ACUACULTURA', NOMBRE COMUN='TRUCHA SE', PESO DESEMBARCADO KILOGRAMOS='248', PESO VIVO KILOGRAMOS='248', VALOR PESOS='17,340', NOMBRE PRINCIPAL='TRUCHA', CLAVE DE ENTIDAD=30, CLAVE DE OFICINA=3011)]