In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

# Como crear una sesion de spark para computo distribuido

In [3]:
spark = SparkSession.builder.appName('firstSession')\
    .config('spark.master', 'local[4]')\
    .config('spark.executor.memory', '1g')\
    .config("spark.sql.shuffle.partitions", 1)\
    .config('spark.driver.memory','1g')\
    .getOrCreate()

24/05/01 14:02:09 WARN Utils: Your hostname, andirious-AORUS-15P-YD resolves to a loopback address: 127.0.1.1; using 192.168.0.33 instead (on interface enp46s0)
24/05/01 14:02:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/01 14:02:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/05/01 14:02:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
spark

# CÃ³mo generar un Dataframe
## A partir de una lista

In [5]:
columnas = ["id", "nombre", "edad"]
lista = [(1, "Aranza", 21), (2, "Andres", 80), (3, "Jaime", 23), (4, "Uumami", 20)]
lista

[(1, 'Aranza', 21), (2, 'Andres', 80), (3, 'Jaime', 23), (4, 'Uumami', 20)]

In [6]:
df_l = spark.createDataFrame(lista, schema=columnas)
df_l.show()

+---+------+----+
| id|nombre|edad|
+---+------+----+
|  1|Aranza|  21|
|  2|Andres|  80|
|  3| Jaime|  23|
|  4|Uumami|  20|
+---+------+----+

## A partir de un parquet

In [7]:
df_p = spark.read.parquet('ejemplo.parquet')
df_p.show()

+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|Series_reference| Period|Data_value|Suppressed|STATUS|  UNITS|Magnitude|             Subject|               Group|      Series_title_1|      Series_title_2|Series_title_3|Series_title_4|Series_title_5|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
|   BDCQ.SF1AA2CA|2016.06|  1116.386|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.09|  1070.874|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2016.12|  1054.408|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.03|  1010.665|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.06|    1233.7|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.09|  1282.436|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2017.12|   1290.82|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.03|  1412.007|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.06|  1488.055|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.09|  1497.678|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2018.12|  1570.507|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.03|  1393.749|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.06|  1517.143|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.09|  1381.514|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2019.12|  1370.985|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.03|  1073.017|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.06|  1131.445|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.09|  1440.101|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA2CA|2020.12|  1489.979|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Forestry and Logging|Current prices|    Unadjusted|          NULL|
|   BDCQ.SF1AA3CA|2016.06|  1189.735|      NULL|     F|Dollars|        6|Business Data Col...|Industry by finan...|Sales (operating ...|Fishing, Aquacult...|Current prices|    Unadjusted|          NULL|
+----------------+-------+----------+----------+------+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+
only showing top 20 rows

### Podemos convertir a un DataFrame de pandas

In [8]:
df_pandas = df_p.toPandas()

In [9]:
df_pandas.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
1,BDCQ.SF1AA2CA,2016.09,1070.874,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
2,BDCQ.SF1AA2CA,2016.12,1054.408,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
3,BDCQ.SF1AA2CA,2017.03,1010.665,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None
4,BDCQ.SF1AA2CA,2017.06,1233.7,None,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,None

## a partir de un csv

In [10]:
df_c = spark.read.csv('Produccion_Pesquera_2020.csv', header=True, inferSchema=True)
df_c.show()

+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL| ENTIDAD FEDERATIVA|      NOMBRE OFICINA|MES DE CORTE|     ORIGEN|   NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|       JUNIO|    CAPTURA|ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                          73|                 173|     25,744|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                         356|                 356|     22,502|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|            ENSENADA|     OCTUBRE|ACUACULTURA|ABULON AMARILLO|                       1,240|               1,240|    347,663|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|            ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                         118|                 280|     47,359|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|            ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                           8|                   8|      3,184|          ABULON|               2|             203|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       MARZO|    CAPTURA|ABULON AMARILLO|                       2,855|               2,855|  1,520,625|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       ABRIL|    CAPTURA|ABULON AMARILLO|                       3,387|               3,387|  1,803,725|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|        MAYO|    CAPTURA|ABULON AMARILLO|                       2,282|               2,282|  1,215,430|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|         ISLA CEDROS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       4,166|               4,166|  2,218,824|          ABULON|               2|             204|
|            2020|    BAJA CALIFORNIA|VILLA DE JESUS MARIA|       MARZO|    CAPTURA|ABULON AMARILLO|                          34|                  80|      3,661|          ABULON|               2|             210|
|            2020|    BAJA CALIFORNIA|VILLA DE JESUS MARIA|       MARZO|    CAPTURA|ABULON AMARILLO|                           2|                   2|        246|          ABULON|               2|             210|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                           0|                   0|     20,494|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                         572|               1,361|    544,274|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       ABRIL|    CAPTURA|ABULON AMARILLO|                         172|                 172|    102,560|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                           0|                   0|     53,292|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       1,586|               3,774|  1,509,761|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JUNIO|    CAPTURA|ABULON AMARILLO|                         476|                 476|    284,492|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JULIO|    CAPTURA|ABULON AMARILLO|                           0|                   0|     46,545|          ABULON|               3|             301|
|            2020|BAJA CALIFORNIA SUR|      BAHIA TORTUGAS|       JULIO|    CAPTURA|ABULON AMARILLO|                       1,400|               3,332|  1,332,672|          ABULON|               3|             301|
+----------------+-------------------+--------------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
only showing top 20 rows

In [11]:
df_c.printSchema()

root
 |-- EJERCICIO FISCAL: integer (nullable = true)
 |-- ENTIDAD FEDERATIVA: string (nullable = true)
 |-- NOMBRE OFICINA: string (nullable = true)
 |-- MES DE CORTE: string (nullable = true)
 |-- ORIGEN: string (nullable = true)
 |-- NOMBRE COMUN: string (nullable = true)
 |-- PESO DESEMBARCADO KILOGRAMOS: string (nullable = true)
 |-- PESO VIVO KILOGRAMOS: string (nullable = true)
 |-- VALOR PESOS: string (nullable = true)
 |-- NOMBRE PRINCIPAL: string (nullable = true)
 |-- CLAVE DE ENTIDAD: integer (nullable = true)
 |-- CLAVE DE OFICINA: integer (nullable = true)

In [12]:
type(df_c.printSchema())

root
 |-- EJERCICIO FISCAL: integer (nullable = true)
 |-- ENTIDAD FEDERATIVA: string (nullable = true)
 |-- NOMBRE OFICINA: string (nullable = true)
 |-- MES DE CORTE: string (nullable = true)
 |-- ORIGEN: string (nullable = true)
 |-- NOMBRE COMUN: string (nullable = true)
 |-- PESO DESEMBARCADO KILOGRAMOS: string (nullable = true)
 |-- PESO VIVO KILOGRAMOS: string (nullable = true)
 |-- VALOR PESOS: string (nullable = true)
 |-- NOMBRE PRINCIPAL: string (nullable = true)
 |-- CLAVE DE ENTIDAD: integer (nullable = true)
 |-- CLAVE DE OFICINA: integer (nullable = true)

NoneType

In [13]:
df_c= df_c.dropna()

In [14]:
df_c.count()

63236

In [15]:
df_c.select('PESO DESEMBARCADO KILOGRAMOS').show()

+----------------------------+
|PESO DESEMBARCADO KILOGRAMOS|
+----------------------------+
|                         501|
|                          73|
|                         356|
|                       1,240|
|                         118|
|                           8|
|                       2,855|
|                       3,387|
|                       2,282|
|                       4,166|
|                          34|
|                           2|
|                           0|
|                         572|
|                         172|
|                           0|
|                       1,586|
|                         476|
|                           0|
|                       1,400|
+----------------------------+
only showing top 20 rows

In [16]:
df_c.describe().show()

24/05/01 14:02:17 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------------------+------------------+--------------+------------+-----------+------------+----------------------------+--------------------+-----------------+----------------+------------------+------------------+
|summary|    EJERCICIO FISCAL|ENTIDAD FEDERATIVA|NOMBRE OFICINA|MES DE CORTE|     ORIGEN|NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|      VALOR PESOS|NOMBRE PRINCIPAL|  CLAVE DE ENTIDAD|  CLAVE DE OFICINA|
+-------+--------------------+------------------+--------------+------------+-----------+------------+----------------------------+--------------------+-----------------+----------------+------------------+------------------+
|  count|               63236|             63236|         63236|       63236|      63236|       63236|                       63236|               63236|            63236|           63236|             63236|             63236|
|   mean|              2020.0|              NULL|          NULL|        NULL|       NULL|        NULL|          302.34543889296305|  307.37846485357016|476.4068550497122|            NULL|17.805727750015812|1785.8420836232526|
| stddev|1.006647691400854...|              NULL|          NULL|        NULL|       NULL|        NULL|          270.81621624363447|   271.9943221557184|290.4068594755689|            NULL|10.767052148191343|1077.0152332497275|
|    min|                2020|    AGUASCALIENTES|    ACAPETAHUA|       ABRIL|ACUACULTURA|     ABADEJO|                           0|                   0|                0|          ABULON|                 1|               101|
|    max|                2020|         ZACATECAS|     ZITACUARO|  SEPTIEMBRE|    CAPTURA|       ZORRO|                         999|                 999|          999,392|          TRUCHA|                32|              3201|
+-------+--------------------+------------------+--------------+------------+-----------+------------+----------------------------+--------------------+-----------------+----------------+------------------+------------------+

In [17]:
df_c.describe(['PESO DESEMBARCADO KILOGRAMOS', 'PESO VIVO KILOGRAMOS']).show()

+-------+----------------------------+--------------------+
|summary|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|
+-------+----------------------------+--------------------+
|  count|                       63236|               63236|
|   mean|          302.34543889296305|  307.37846485357016|
| stddev|          270.81621624363447|   271.9943221557184|
|    min|                           0|                   0|
|    max|                         999|                 999|
+-------+----------------------------+--------------------+

### Funciones "complejas" con PySpark

In [18]:
from pyspark.sql.functions import col, sum
df = df_c.withColumn('VALOR PESOS', col('VALOR PESOS').cast('float'))
resultado = df.groupBy('ENTIDAD FEDERATIVA').sum('VALOR PESOS')
resultado.show()

+-------------------+----------------+
| ENTIDAD FEDERATIVA|sum(VALOR PESOS)|
+-------------------+----------------+
|    BAJA CALIFORNIA|        212235.0|
|BAJA CALIFORNIA SUR|        344662.0|
|             COLIMA|         21759.0|
|           GUERRERO|         44695.0|
|            SINALOA|        132577.0|
|         TAMAULIPAS|        186744.0|
|           VERACRUZ|        279495.0|
|     AGUASCALIENTES|         16266.0|
|             SONORA|         59330.0|
|            NAYARIT|        115852.0|
|          MICHOACAN|         24744.0|
|           CAMPECHE|        129375.0|
|       QUINTANA ROO|         29363.0|
|            TABASCO|         40727.0|
|            YUCATAN|        112157.0|
|            JALISCO|         17241.0|
|             OAXACA|         23889.0|
|            CHIAPAS|          2770.0|
|           COAHUILA|         14103.0|
|            DURANGO|          1797.0|
+-------------------+----------------+
only showing top 20 rows

### filter

In [19]:
df_filter = df_c.filter(df_c['PESO DESEMBARCADO KILOGRAMOS'] == 501)
df_filter.show()

+----------------+-------------------+---------------+------------+-------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL| ENTIDAD FEDERATIVA| NOMBRE OFICINA|MES DE CORTE| ORIGEN|   NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+-------------------+---------------+------------+-------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|    BAJA CALIFORNIA|     EL ROSARIO|       JUNIO|CAPTURA|ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|             SONORA|        GUAYMAS|     FEBRERO|CAPTURA|          CHANO|                         501|                 501|      6,314|       BERRUGATA|              26|            2604|
|            2020|         TAMAULIPAS|         ALDAMA|     OCTUBRE|CAPTURA|         BONITO|                         501|                 501|     13,475|          BONITO|              28|            2801|
|            2020|         TAMAULIPAS|CIUDAD VICTORIA|       JUNIO|CAPTURA|       MEDREGAL|                         501|                 501|     13,103|      ESMEDREGAL|              28|            2803|
|            2020|    BAJA CALIFORNIA|     SAN FELIPE|       MARZO|CAPTURA|    LENGUADO SE|                         501|                 627|      5,393|        LENGUADO|               2|             207|
|            2020|            YUCATAN|       PROGRESO|      AGOSTO|CAPTURA|     MOJARRA SE|                         501|                 551|     28,494|         MOJARRA|              31|            3105|
|            2020|         TAMAULIPAS|         ALDAMA|       JUNIO|CAPTURA|     TILAPIA SE|                         501|                 501|     14,852|         MOJARRA|              28|            2801|
|            2020|         TAMAULIPAS|        TAMPICO|   NOVIEMBRE|CAPTURA|        GUABINA|                         501|                 501|     15,621|           OTRAS|              28|            2808|
|            2020|BAJA CALIFORNIA SUR| BAHIA ASUNCION|   NOVIEMBRE|CAPTURA|    PEZ CORNETA|                         501|                 501|      9,299|         TIBURON|               3|             313|
+----------------+-------------------+---------------+------------+-------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+

In [20]:
df_filterDos = df_c.filter((df_c['PESO DESEMBARCADO KILOGRAMOS'] > 500) & (df_c['MES DE CORTE'] == 'JUNIO'))
df_filterDos.show()

+----------------+-------------------+--------------------+------------+-----------+----------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL| ENTIDAD FEDERATIVA|      NOMBRE OFICINA|MES DE CORTE|     ORIGEN|    NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+-------------------+--------------------+------------+-----------+----------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|    BAJA CALIFORNIA|          EL ROSARIO|       JUNIO|    CAPTURA| ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|    BAJA CALIFORNIA|VILLA DE JESUS MARIA|       JUNIO|    CAPTURA|       ABULON SE|                         672|               1,598|     75,497|          ABULON|               2|             210|
|            2020|    BAJA CALIFORNIA|          SAN FELIPE|       JUNIO|    CAPTURA|   ALMEJA BLANCA|                         525|                 525|      9,323|          ALMEJA|               2|             207|
|            2020|             SONORA|     PUERTO PE?ï¿½ASCO|       JUNIO|    CAPTURA|   ALMEJA BLANCA|                         533|                 533|     17,275|          ALMEJA|              26|            2607|
|            2020|BAJA CALIFORNIA SUR|          SAN CARLOS|       JUNIO|    CAPTURA| ALMEJA CATARINA|                         683|                 683|      6,758|          ALMEJA|               3|             311|
|            2020|BAJA CALIFORNIA SUR|              LA PAZ|       JUNIO|    CAPTURA|ALMEJA CHOCOLATA|                         751|                 751|      7,434|          ALMEJA|               3|             305|
|            2020|           VERACRUZ|            ALVARADO|       JUNIO|    CAPTURA|  ALMEJA GALLITO|                         712|                 712|      7,177|          ALMEJA|              30|            3001|
|            2020|             SONORA|     PUERTO LIBERTAD|       JUNIO|    CAPTURA|     ALMEJA ROJA|                         533|                 533|     36,950|          ALMEJA|              26|            2612|
|            2020|            SINALOA|            NAVOLATO|       JUNIO|ACUACULTURA|       ALMEJA SE|                         992|                 992|      8,036|          ALMEJA|              25|            2509|
|            2020|            YUCATAN|            PROGRESO|       JUNIO|    CAPTURA|        BOQUERON|                         525|                 578|      9,928|       ANCHOVETA|              31|            3105|
|            2020|    BAJA CALIFORNIA|            ENSENADA|       JUNIO|    CAPTURA| ATUN ALETA AZUL|                         883|               1,059|     18,804|            ATUN|               2|             203|
|            2020|    BAJA CALIFORNIA|            ENSENADA|       JUNIO|    CAPTURA| ATUN ALETA AZUL|                         998|                 998|    127,476|            ATUN|               2|             203|
|            2020|BAJA CALIFORNIA SUR|    CD. CONSTITUCION|       JUNIO|    CAPTURA|         ATUN SE|                         683|                 683|     12,671|            ATUN|               3|             303|
|            2020|            DURANGO|             DURANGO|       JUNIO|ACUACULTURA|  BAGRE DE CANAL|                         809|                 809|     31,482|           BAGRE|              10|            1001|
|            2020|            JALISCO|     PUERTO VALLARTA|       JUNIO|ACUACULTURA|  BAGRE DE CANAL|                         595|                 655|     22,838|           BAGRE|              14|            1406|
|            2020|            CHIAPAS|        VILLA FLORES|       JUNIO|    CAPTURA|        BAGRE SE|                         525|                 578|     16,547|           BAGRE|               7|             707|
|            2020|            JALISCO|         GUADALAJARA|       JUNIO|ACUACULTURA|        BAGRE SE|                         682|                 682|    290,761|           BAGRE|              14|            1404|
|            2020|          QUERETARO|           QUERETARO|       JUNIO|ACUACULTURA|        BAGRE SE|                         620|                 620|     36,800|           BAGRE|              22|            2201|
|            2020|            SINALOA|            CULIACAN|       JUNIO|    CAPTURA|        BAGRE SE|                         564|                 621|     14,152|           BAGRE|              25|            2501|
|            2020|            SINALOA|             GUASAVE|       JUNIO|    CAPTURA|        BAGRE SE|                         563|                 563|     17,488|           BAGRE|              25|            2505|
+----------------+-------------------+--------------------+------------+-----------+----------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
only showing top 20 rows

### take

In [21]:
df_c.take(10000)[-1]

Row(EJERCICIO FISCAL=2020, ENTIDAD FEDERATIVA='GUERRERO', NOMBRE OFICINA='ACAPULCO', MES DE CORTE='JULIO', ORIGEN='CAPTURA', NOMBRE COMUN='CARACOL SE', PESO DESEMBARCADO KILOGRAMOS='389', PESO VIVO KILOGRAMOS='389', VALOR PESOS='28,546', NOMBRE PRINCIPAL='CARACOL', CLAVE DE ENTIDAD=12, CLAVE DE OFICINA=1201)

In [22]:
type(df_c.take(10))

list

### withColumn, when

In [23]:
from pyspark.sql.functions import when
df_modificado = df_c.withColumn('ENTIDAD FEDERATIVA', when(df_c['ENTIDAD FEDERATIVA'] == 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR').otherwise(df_c['ENTIDAD FEDERATIVA']))
df_modificado.show(10)

+----------------+-------------------+--------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL| ENTIDAD FEDERATIVA|NOMBRE OFICINA|MES DE CORTE|     ORIGEN|   NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+-------------------+--------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|BAJA CALIFORNIA SUR|    EL ROSARIO|       JUNIO|    CAPTURA|ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|BAJA CALIFORNIA SUR|    EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                          73|                 173|     25,744|          ABULON|               2|             202|
|            2020|BAJA CALIFORNIA SUR|    EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                         356|                 356|     22,502|          ABULON|               2|             202|
|            2020|BAJA CALIFORNIA SUR|      ENSENADA|     OCTUBRE|ACUACULTURA|ABULON AMARILLO|                       1,240|               1,240|    347,663|          ABULON|               2|             203|
|            2020|BAJA CALIFORNIA SUR|      ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                         118|                 280|     47,359|          ABULON|               2|             203|
|            2020|BAJA CALIFORNIA SUR|      ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                           8|                   8|      3,184|          ABULON|               2|             203|
|            2020|BAJA CALIFORNIA SUR|   ISLA CEDROS|       MARZO|    CAPTURA|ABULON AMARILLO|                       2,855|               2,855|  1,520,625|          ABULON|               2|             204|
|            2020|BAJA CALIFORNIA SUR|   ISLA CEDROS|       ABRIL|    CAPTURA|ABULON AMARILLO|                       3,387|               3,387|  1,803,725|          ABULON|               2|             204|
|            2020|BAJA CALIFORNIA SUR|   ISLA CEDROS|        MAYO|    CAPTURA|ABULON AMARILLO|                       2,282|               2,282|  1,215,430|          ABULON|               2|             204|
|            2020|BAJA CALIFORNIA SUR|   ISLA CEDROS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       4,166|               4,166|  2,218,824|          ABULON|               2|             204|
+----------------+-------------------+--------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
only showing top 10 rows

In [24]:
df_c.show(10)

+----------------+------------------+--------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|EJERCICIO FISCAL|ENTIDAD FEDERATIVA|NOMBRE OFICINA|MES DE CORTE|     ORIGEN|   NOMBRE COMUN|PESO DESEMBARCADO KILOGRAMOS|PESO VIVO KILOGRAMOS|VALOR PESOS|NOMBRE PRINCIPAL|CLAVE DE ENTIDAD|CLAVE DE OFICINA|
+----------------+------------------+--------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
|            2020|   BAJA CALIFORNIA|    EL ROSARIO|       JUNIO|    CAPTURA|ABULON AMARILLO|                         501|                 501|     59,327|          ABULON|               2|             202|
|            2020|   BAJA CALIFORNIA|    EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                          73|                 173|     25,744|          ABULON|               2|             202|
|            2020|   BAJA CALIFORNIA|    EL ROSARIO|   DICIEMBRE|    CAPTURA|ABULON AMARILLO|                         356|                 356|     22,502|          ABULON|               2|             202|
|            2020|   BAJA CALIFORNIA|      ENSENADA|     OCTUBRE|ACUACULTURA|ABULON AMARILLO|                       1,240|               1,240|    347,663|          ABULON|               2|             203|
|            2020|   BAJA CALIFORNIA|      ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                         118|                 280|     47,359|          ABULON|               2|             203|
|            2020|   BAJA CALIFORNIA|      ENSENADA|   NOVIEMBRE|    CAPTURA|ABULON AMARILLO|                           8|                   8|      3,184|          ABULON|               2|             203|
|            2020|   BAJA CALIFORNIA|   ISLA CEDROS|       MARZO|    CAPTURA|ABULON AMARILLO|                       2,855|               2,855|  1,520,625|          ABULON|               2|             204|
|            2020|   BAJA CALIFORNIA|   ISLA CEDROS|       ABRIL|    CAPTURA|ABULON AMARILLO|                       3,387|               3,387|  1,803,725|          ABULON|               2|             204|
|            2020|   BAJA CALIFORNIA|   ISLA CEDROS|        MAYO|    CAPTURA|ABULON AMARILLO|                       2,282|               2,282|  1,215,430|          ABULON|               2|             204|
|            2020|   BAJA CALIFORNIA|   ISLA CEDROS|       JUNIO|    CAPTURA|ABULON AMARILLO|                       4,166|               4,166|  2,218,824|          ABULON|               2|             204|
+----------------+------------------+--------------+------------+-----------+---------------+----------------------------+--------------------+-----------+----------------+----------------+----------------+
only showing top 10 rows

### Split

In [25]:
from pyspark.sql.functions import split
nombres = ['Andres Schafler', 'Aranza Ibarra', 'Jaime Uria', 'Mario Vazquez']
df_nombres = spark.createDataFrame(nombres, 'string').toDF('nombre')
df_nombres.show()

+---------------+
|         nombre|
+---------------+
|Andres Schafler|
|  Aranza Ibarra|
|     Jaime Uria|
|  Mario Vazquez|
+---------------+

In [26]:
df_intermedio = df_nombres.withColumn("nombre_split", split(col("nombre"), " ")) #Utilizamos un df intermedio para separar el nombre por espacio
df_split = df_intermedio.withColumn("Nombre", col("nombre_split")[0])\
                        .withColumn("Apellido", col("nombre_split")[1])
df_split = df_split.drop("nombre_split")
df_split.show()

+------+--------+
|Nombre|Apellido|
+------+--------+
|Andres|Schafler|
|Aranza|  Ibarra|
| Jaime|    Uria|
| Mario| Vazquez|
+------+--------+

In [34]:
from pyspark.sql import functions as f
resultado.sort(f.desc('sum(VALOR PESOS)')).show()

+-------------------+----------------+
| ENTIDAD FEDERATIVA|sum(VALOR PESOS)|
+-------------------+----------------+
|BAJA CALIFORNIA SUR|        344662.0|
|           VERACRUZ|        279495.0|
|    BAJA CALIFORNIA|        212235.0|
|         TAMAULIPAS|        186744.0|
|            SINALOA|        132577.0|
|           CAMPECHE|        129375.0|
|            NAYARIT|        115852.0|
|            YUCATAN|        112157.0|
|             SONORA|         59330.0|
|           GUERRERO|         44695.0|
|            TABASCO|         40727.0|
|       QUINTANA ROO|         29363.0|
|          MICHOACAN|         24744.0|
|             OAXACA|         23889.0|
|             COLIMA|         21759.0|
|            JALISCO|         17241.0|
|     AGUASCALIENTES|         16266.0|
|           COAHUILA|         14103.0|
|            HIDALGO|          9506.0|
|            CHIAPAS|          2770.0|
+-------------------+----------------+
only showing top 20 rows